<div class="container">
  <div class="login">
    <h1>Log In</h1>
    <form class="form-horizontal" id="roles-form" method="post">
      <div class="form-group">
        <label class="col-xs-4 control-label"><h4>Email</h4></label>
        <div class="col-xs-4">
          <input type="text" class="form-control input-lg login-bar" name="email" placeholder="Enter email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-4 control-label"><h4>Password</h4></label>
        <div class="col-xs-4">
          <input type="password" class="form-control input-lg login-bar" name="password" placeholder="Enter password">
          <h5 class="error"><%= @error_message %></h5>
        </div>
      </div>
      <input type="hidden" name="_method" value="PUT">
      <div class="form-group login-button">
        <input class="btn btn-default btn-lg btn-block" type="submit"  value="Log in">
      </div>
    </form>
  </div>
</div>
