<form action="/roles/<%= @role.id %>" method="post">
    <div>
        <label>Roles</label>
        <input type="text" name="role_name" placeholder="Enter new Role">
        <div>
            <%= @role.role_name %>
        </div>
    </div>
    <div>
        <input type="submit" value="Save Role">
    </div>
    <% if (@role.id) %>
        <input type="hidden" name="_method" value="PUT">
    <% end %>
</form>
