<form action="/roles/<%= @role.role_id %>" method="post">
    <div>
        <label>Roles: </label>
        <input type="text" name="role_name" placeholder="Enter new Role" value="<%= @role.role_name %>" required>

    </div>
    <div>
        <input type="submit" value="Save Role">
    </div>
    <% if (@role.role_id) %>
        <input type="hidden" name="_method" value="PUT">
    <% end %>
</form>
