<div class="container">
  <form class="form-horizontal" action="/specs/<%= @spec.spec_id %>" method="post">
    <div class="form-group">
      <label class="col-xs-4 control-label"><h4>Specialisation</h4></label>
      <div class="col-xs-4">
        <input type="text" class="form-control input-lg" name="spec_name" placeholder="Enter a Specialisation" value="<%= @spec.spec_name %>">
      </div>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-default btn-lg btn-block delete-button" value="Save Role">Save specialisation</button>
      <% if (@spec.spec_id) %>
        <input type="hidden" name="_method" value="PUT">
    <% end %>
    </div>
  </form>
</div>
