<h1><%= @cohorts.cohort_name %></h1>

<div>
  <h3>Specialisation:</h3>
  <p><%= @cohorts.spec_name %></p>
</div>

<div>
    <div>
      <button class="btn btn-secondary btn-lg btn-block" type="button" onclick="window.location.href = '/cohorts/1/edit';" name="button">Edit</button>
    </div>

    <div>
      <form class="d-none" id="delete-cohort" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete Cohort">
      </form>

      <button class="btn btn-danger btn-lg btn-block" type="submit" name="button" form="delete-cohort">Delete</button>

    </div>
  </div>
</div>
