.logo img{
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 2px;
  border-radius: 10%;
}

.nav li {
  font-size: 15px;
}

.views-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-right: 5%;
  margin-left: 5%;

}

.login-wrapper {
  background-color: LightGray;
  border-radius: 20px;
}

.views-wrapper h1 {
  text-align: center;
  padding-bottom: 3px;

}
.views-wrapper input[value] {
  padding-left: 3px;

}

.views-wrapper input{
  width: 300px;
  height: 40px;
  border-radius: 6px;
}

.views-wrapper select{
  width: 300px;
  height: 40px;
}

.views-wrapper label {
    display: inline-block;
    width:100px;
    text-align: right;
    padding-right: 10px;
}

.index-form {
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.users-form h1 {
  padding-bottom: 10px;
}


table {
  border-collapse: collapse;
  font-size: 17px;
}

th {
  height: 50px;
}

.table-headers {
  background-color: black;
  color: white;
  font-size: 20px;
}

tr:hover {
  background-color: #f5f5f5;
}

.show h1 {
  border: 1px solid black;
  display: inline;
}

.show {
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

#loginError {
  color: red;
}
