.logo img{
  float: left;
  height: 35px;
  width: 35px;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 2px;
  border-radius: 10%;
}

.nav li {
  font-size: 15px;
}

.login {
  background-color: LightGray;
  border-radius: 30px;
  padding: 20px 10px 20px 10px;
  margin: 100px 80px 0 80px;

}

.login h1 {
  text-align: center;
  padding-bottom: 10px;
}

.login-button {
  padding-left: 120px;
  padding-right: 120px;
}



.index-form {
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.users-form h1 {
  padding-bottom: 10px;
}


table {
  border-collapse: collapse;
  font-size: 17px;
}

th {
  height: 50px;
}

.table-headers {
  background-color: black;
  color: white;
  font-size: 18px;
}

.tb-cols tr:hover {
  background-color: #f5f5f5;
}

.show h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.show {
  margin-top: 60px;
  padding: 30px 10px;
  width: 50%;
}


.table-content h4 {
  padding-right: 30px;
}

.table-content p {
  line-height: normal;
  font-size: 1em;
  color: grey;
  padding-top: 10px;
}

.edit-button , .delete-button {
  margin-top: 10px;
}


.form-header h1 {
  text-align: center;
  padding-bottom: 10px;
}

.list-content p {
  font-size: 17px;
}

label.message {
  color: red;
  visibility: hidden;

}

.error {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}
