<h1><%= @roles.role_name %></h1>

<div>
    <div>
      <button class="btn btn-secondary btn-lg btn-block" type="button" onclick="window.location.href = '/roles/1/edit';" name="button">Edit</button>
    </div>

    <div>
      <form class="d-none" id="delete-role" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete Role">
      </form>

      <button class="btn btn-danger btn-lg btn-block" type="submit" name="button" form="delete-role">Delete</button>

    </div>
  </div>
</div>
