<div class="container show">
<h1><%= @role.role_name %></h1>

<div>
    <div>
      <button class="btn btn-default btn-lg btn-block edit-button" type="button" onclick="window.location.href = '/roles/<%= @role.role_id %>/edit';" name="button">Edit</button>
    </div>

    <div>
      <form class="d-none" id="delete-role" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE">

      </form>

      <button class="btn btn-danger btn-lg btn-block delete-button" type="submit" name="button" form="delete-role">Delete</button>

    </div>
    <p><%= @error_message %></p>
  </div>
</div>