<h1>Welcome to  Sparta</h1>
 
<form method="post">
  <div>
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter email">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password" placeholder="Enter password">
    <p>User does not exist, please try again</p>
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>
