

<h1>Welcome to  Sparta</h1>
 
<form action="/login" method="post">
  <div>
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter email" value="email">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password" placeholder="Enter password" value="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>



<h1>Welcome to my blog page</h1>
<% @emails.each do |email|  %> 
<div>
  <h3><%= email.email %></h3>
  <h3><%= email.password_hash %></h3>
  <h3><%= email.password_salt %></h3>
  <p>---------------------------</p>
</div>
<% end  %>
