<div class="container index-form">
  <h1>Specialisations</h1>
<table class="table">
  <thead class="thead-dark table-headers">
    <tr>
      <th>Specialisation Name</th>
    </tr>
  </thead>
  <tbody class="tb-cols">
        <% @specs.each do |spec| %>
          <tr>
            <td><a href="/specs/<%= spec.spec_id %>"><%= spec.spec_name %></a></td>
          </tr>
        <% end %>
  </tbody>
</table>
<button class="btn btn-success btn-lg btn-block" type="button" onclick="window.location.href = 'specs/new';" name="button">Add New Specialisation</button>
